<h1 id="linux-system-roleslogging">linux-system-roles/logging</h1>
<p><img src="https://github.com/linux-system-roles/logging/workflows/tox/badge.svg" alt="CI Testing" /></p>

<h2 id="table-of-contents">Table of Contents</h2>

<!--ts-->
<ul>
  <li><a href="#background">Background</a></li>
  <li><a href="#definitions">Definitions</a></li>
  <li><a href="#logging-configuration-overview">Logging Configuration Overview</a></li>
  <li><a href="#variables">Variables</a>
    <ul>
      <li><a href="#logging_inputs-options">Logging_inputs options</a></li>
      <li><a href="#logging_outputs-options">Logging_outputs options</a></li>
      <li><a href="#logging_flows-options">Logging_flows options</a></li>
      <li><a href="#security-options">Security options</a></li>
      <li><a href="#server-performance-optimization-options">Server performance optimization options</a></li>
      <li><a href="#other-options">Other options</a></li>
    </ul>
  </li>
  <li><a href="#update-and-delete">Update and Delete</a></li>
  <li><a href="#configuration-examples">Configuration Examples</a>
    <ul>
      <li><a href="#standalone-configuration">Standalone configuration</a></li>
      <li><a href="#client-configuration">Client configuration</a></li>
      <li><a href="#server-configuration">Server configuration</a></li>
      <li><a href="#client-configuration-with-relp">Client configuration with Relp</a></li>
      <li><a href="#server-configuration-with-relp">Server configuration with Relp</a></li>
    </ul>
  </li>
  <li><a href="#port-and-selinux">Port and SELinux</a></li>
  <li><a href="#providers">Providers</a></li>
  <li><a href="#tests">Tests</a><br />
<!--te--></li>
</ul>

<h2 id="background">Background</h2>

<p>Logging role is an abstract layer for provisioning and configuring the logging system. Currently, rsyslog is the only supported provider.</p>

<p>In the nature of logging, there are multiple ways to read logs and multiple ways to output them. For instance, the logging system may read logs from local files, or read them from systemd/journal, or receive them from the other logging system over the network. Then, the logs may be stored in the local files in the /var/log directory, or sent to Elasticsearch, or forwarded to other logging system. The combination between the inputs and the outputs needs to be flexible. For instance, you may want to inputs from journal stored just in the local file, while inputs read from files stored in the local log files as well as forwarded to the other logging system.</p>

<p>To satisfy such requirements, logging role introduced 3 primary variables <code>logging_inputs</code>, <code>logging_outputs</code>, and <code>logging_flows</code>. The inputs are represented in the list of <code>logging_inputs</code> dictionary, the outputs are in the list of <code>logging_outputs</code> dictionary, and the relationship between them are defined as a list of <code>logging_flows</code> dictionary. The details are described in <a href="#logging-configuration-overview">Logging Configuration Overview</a>.</p>

<h2 id="requirements">Requirements</h2>

<p>This role is supported on RHEL-7+, CentOS Stream-8+ and Fedora distributions.</p>

<p>The role requires the <code>firewall</code> role and the <code>selinux</code> role from the<br />
<code>fedora.linux_system_roles</code> collection, if <code>logging_manage_firewall</code><br />
and <code>logging_manage_selinux</code> is set to true, respectively.<br />
(Please see also the variables in the <a href="#other-options"><code>Other options</code></a> section.)</p>

<p>If the <code>logging</code> is a role from the <code>fedora.linux_system_roles</code><br />
collection or from the Fedora RPM package, the requirement is already<br />
satisfied.</p>

<p>Otherwise, please run the following command line to install the collection.</p>
<pre><code>ansible-galaxy collection install -r meta/collection-requirements.yml
</code></pre>

<h2 id="definitions">Definitions</h2>

<ul>
  <li><code>logging_inputs</code> - List of logging inputs dictionary to specify input types.
    <ul>
      <li><code>basics</code> - basic inputs configuring inputs from systemd journal or unix socket.</li>
      <li><code>files</code> - files inputs configuring inputs from local files.</li>
      <li><code>remote</code> - remote inputs configuring inputs from the other logging system over network.</li>
      <li><code>ovirt</code> - ovirt inputs configuring inputs from the oVirt system.</li>
    </ul>
  </li>
  <li><code>logging_outputs</code> - List of logging outputs dictionary to specify output types.
    <ul>
      <li><code>elasticsearch</code> - elasticsearch outputs configuring outputs to elasticsearch. It is available only when the input is <code>ovirt</code>.</li>
      <li><code>files</code> - files outputs configuring outputs to the local files.</li>
      <li><code>forwards</code> - forwards outputs configuring outputs to the other logging system.</li>
      <li><code>remote_files</code> - remote files outputs configuring outputs from the other logging system to the local files.</li>
    </ul>
  </li>
  <li><code>logging_flows</code> - List of logging flows dictionary to define relationships between logging inputs and outputs.</li>
  <li><a href="https://www.rsyslog.com/"><code>Rsyslog</code></a> - The logging role default log provider used for log processing.</li>
  <li><a href="https://www.elastic.co/"><code>Elasticsearch</code></a> - Elasticsearch is a distributed, search and analytic engine for all types of data. One of the supported outputs in the logging role.</li>
</ul>

<h2 id="logging-configuration-overview">Logging Configuration Overview</h2>

<p>Logging role allows to have variables <code>logging_inputs</code>, <code>logging_outputs</code>, and <code>logging_flows</code> with additional options to configure logging system such as <code>rsyslog</code>.</p>

<p>Currently, the logging role supports four types of logging inputs: <code>basics</code>, <code>files</code>, <code>ovirt</code>, and <code>remote</code>.  And four types of outputs: <code>elasticsearch</code>, <code>files</code>, <code>forwards</code>, and <code>remote_files</code>.  To deploy configuration files with these inputs and outputs, specify the inputs as <code>logging_inputs</code> and the outputs as <code>logging_outputs</code>. To define the flows from inputs to outputs, use <code>logging_flows</code>.  The <code>logging_flows</code> has three keys <code>name</code>, <code>inputs</code>, and <code>outputs</code>, where <code>inputs</code> is a list of <code>logging_inputs name</code> values and <code>outputs</code> is a list of <code>logging_outputs name</code> values.</p>

<p>This is a schematic logging configuration to show log messages from input_nameA are passed to output_name0 and output_name1; log messages from input_nameB are passed only to output_name1.</p>

<pre><code class="language-yaml">---
- name: a schematic logging configuration
  hosts: all
  roles:
    - rhel-system-roles.logging
  vars:
    logging_inputs:
      - name: input_nameA
        type: input_typeA
      - name: input_nameB
        type: input_typeB
    logging_outputs:
      - name: output_name0
        type: output_type0
      - name: output_name1
        type: output_type1
    logging_flows:
      - name: flow_nameX
        inputs: [input_nameA]
        outputs: [output_name0, output_name1]
      - name: flow_nameY
        inputs: [input_nameB]
        outputs: [output_name1]
</code></pre>

<h2 id="variables">Variables</h2>

<h3 id="logging_inputs-options">Logging_inputs options</h3>

<p><code>logging_inputs</code>: A list of the following dictionaries to configure inputs.</p>

<h4 id="common-keys">common keys</h4>

<ul>
  <li><code>name</code>: Unique name of the input. Used in the <code>logging_flows</code> inputs list and a part of the generated config filename.</li>
  <li><code>type</code>: Type of the input element. Currently, <code>basics</code>, <code>files</code>, <code>ovirt</code>, and <code>remote</code> are supported. The <code>type</code> is used to specify a task type which corresponds to a directory name in roles/rsyslog/{tasks,vars}/inputs/.</li>
  <li><code>state</code>: State of the configuration file. <code>present</code> or <code>absent</code>. Default to <code>present</code>.</li>
</ul>

<h4 id="basics-type">basics type</h4>

<p><code>basics</code> input supports reading logs from systemd journal or systemd unix socket.</p>

<p>Available options:</p>
<ul>
  <li><code>kernel_message</code>: Load <code>imklog</code> if set to <code>true</code>. Default to <code>false</code>.</li>
  <li><code>use_imuxsock</code>: Use <code>imuxsock</code> instead of <code>imjournal</code>. Default to <code>false</code>.</li>
  <li><code>ratelimit_burst</code>: Maximum number of messages that can be emitted within ratelimit_interval. Default to <code>20000</code> if use_imuxsock is false. Default to <code>200</code> if use_imuxsock is true.</li>
  <li><code>ratelimit_interval</code>: Interval to evaluate ratelimit_burst. Default to <code>600</code> seconds if use_imuxsock is false. Default to <code>0</code> if use_imuxsock is true. 0 indicates ratelimiting is turned off.</li>
  <li><code>persist_state_interval</code>: Journal state is persisted every value messages. Default to <code>10</code>. Effective only when use_imuxsock is false.</li>
</ul>

<h4 id="files-type">files type</h4>

<p><code>files</code> input supports reading logs from the local files.</p>

<p>Available options:</p>
<ul>
  <li><code>input_log_path</code>: File name to be read by the imfile plugin. The value should be full path. Wildcard ‘*’ is allowed in the path.  Default to <code>/var/log/containers/*.log</code>.<br />
<code>facility</code>: Facility to filter the inputs from the files.<br />
<code>severity</code>: Severity to filter the inputs from the files.<br />
<code>startmsg_regex</code>: The regular expression that matches the start part of a message.<br />
<code>endmsg_regex</code>: The regular expression that matches the last part of a message.</li>
</ul>

<h4 id="ovirt-type">ovirt type</h4>

<p><code>ovirt</code> input supports oVirt specific inputs.</p>

<p>Available options:</p>
<ul>
  <li><code>subtype</code>: ovirt input subtype. Value is one of <code>engine</code>, <code>collectd</code>, and <code>vdsm</code>.</li>
  <li><code>ovirt_env_name</code>: ovirt environment name. Default to <code>engine</code>.</li>
  <li><code>ovirt_env_uuid</code>: ovirt uuid. Default to none.</li>
</ul>

<p>Available options for engine and vdsm:</p>
<ul>
  <li><code>ovirt_elasticsearch_index_prefix</code>: Index prefix for elasticsearch. Default to <code>project.ovirt-logs</code>.</li>
  <li><code>ovirt_engine_fqdn</code>: ovirt engine fqdn. Default to none.</li>
  <li><code>ovirt_input_file</code>: ovirt input file. Default to <code>/var/log/ovirt-engine/test-engine.log</code> for <code>engine</code>; default to <code>/var/log/vdsm/vdsm.log</code> for <code>vdsm</code>.</li>
  <li><code>ovirt_vds_cluster_name</code>: vds cluster name. Default to none.</li>
</ul>

<p>Available options for collectd:</p>
<ul>
  <li><code>ovirt_collectd_port</code>: collectd port number. Default to <code>44514</code>.</li>
  <li><code>ovirt_elasticsearch_index_prefix</code>: Index prefix for elasticsearch. Default to <code>project.ovirt-metrics</code>.</li>
</ul>

<h4 id="relp-type">relp type</h4>

<p><code>relp</code> input supports receiving logs from the remote logging system over the network using relp.</p>

<p>Available options:</p>
<ul>
  <li><code>port</code>: Port number Relp is listening to. Default to <code>20514</code>. See also <a href="#port-and-selinux">Port and SELinux</a>.</li>
  <li><code>tls</code>: If true, encrypt the connection with TLS. You must provide key/certificates and triplets {<code>ca_cert</code>, <code>cert</code>, <code>private_key</code>} and/or {<code>ca_cert_src</code>, <code>cert_src</code>, <code>private_key_src</code>}. Default to <code>true</code>.</li>
  <li><code>ca_cert</code>: Path to CA cert to configure Relp with tls. Default to <code>/etc/pki/tls/certs/basename of ca_cert_src</code>.</li>
  <li><code>cert</code>: Path to cert to configure Relp with tls. Default to <code>/etc/pki/tls/certs/basename of cert_src</code>.</li>
  <li><code>private_key</code>: Path to key to configure Relp with tls. Default to <code>/etc/pki/tls/private/basename of private_key_src</code>.</li>
  <li><code>ca_cert_src</code>: Local CA cert file path which is copied to the target host. If <code>ca_cert</code> is specified, it is copied to the location. Otherwise, to logging_config_dir.</li>
  <li><code>cert_src</code>: Local cert file path which is copied to the target host. If <code>cert</code> is specified, it is copied to the location. Otherwise, to logging_config_dir.</li>
  <li><code>private_key_src</code>: Local key file path which is copied to the target host. If <code>private_key</code> is specified, it is copied to the location. Otherwise, to logging_config_dir.</li>
  <li><code>pki_authmode</code>: Specifying the authentication mode. <code>name</code> or <code>fingerprint</code> is accepted. Default to <code>name</code>.</li>
  <li><code>permitted_clients</code>: List of hostnames, IP addresses, fingerprints(sha1), and wildcard DNS domains which will be allowed by the <code>logging</code> server to connect and send logs over TLS. Default to <code>['*.{{ logging_domain }}']</code></li>
</ul>

<h4 id="remote-type">remote type</h4>

<p><code>remote</code> input supports receiving logs from the remote logging system over the network.</p>

<p>Available options:</p>
<ul>
  <li><code>udp_ports</code>: List of UDP port numbers to listen. If set, the <code>remote</code> input listens on the UDP ports. No defaults. If both <code>udp_ports</code> and <code>tcp_ports</code> are set in a <code>remote</code> input item, <code>udp_ports</code> is used and <code>tcp_ports</code> is dropped. See also <a href="#port-and-selinux">Port and SELinux</a>.</li>
  <li><code>tcp_ports</code>: List of TCP port numbers to listen. If set, the <code>remote</code> input listens on the TCP ports. Default to <code>[514]</code>. If both <code>udp_ports</code> and <code>tcp_ports</code> are set in a <code>remote</code> input item, <code>udp_ports</code> is used and <code>tcp_ports</code> is dropped. If both <code>udp_ports</code> and <code>tcp_ports</code> are not set in a <code>remote</code> input item, <code>tcp_ports: [514]</code> is added to the item. See also <a href="#port-and-selinux">Port and SELinux</a>.</li>
  <li><code>tls</code>: Set to <code>true</code> to encrypt the connection using the default TLS implementation used by the provider. Default to <code>false</code>.</li>
  <li><code>pki_authmode</code>: Specifying the default network driver authentication mode. <code>x509/name</code>, <code>x509/fingerprint</code>, or <code>anon</code> is accepted. Default to <code>x509/name</code>.</li>
  <li><code>permitted_clients</code>: List of hostnames, IP addresses, fingerprints(sha1), and wildcard DNS domains which will be allowed by the <code>logging</code> server to connect and send logs over TLS. Default to <code>['*.{{ logging_domain }}']</code></li>
</ul>

<p><strong>Note:</strong> There are 3 types of items in the remote type - udp, plain tcp and tls tcp. The udp type configured using <code>udp_ports</code>; the plain tcp type is configured using <code>tcp_ports</code> without <code>tls</code> or with <code>tls: false</code>; the tls tcp type is configured using <code>tcp_ports</code> with <code>tls: true</code> at the same time. Please note there might be only one instance of each of the three types. E.g., if there are 2 <code>udp</code> type items, it fails to deploy.</p>

<pre><code class="language-yaml">  # Valid configuration example
  - name: remote_udp
    type: remote
    udp_ports: [514, ...]
  - name: remote_ptcp
    type: remote
    tcp_ports: [514, ...]
  - name: remote_tcp
    type: remote
    tcp_ports: [6514, ...]
    tls: true
    pki_authmode: x509/name
    permitted_clients: ['*.example.com']
</code></pre>

<pre><code class="language-yaml">  # Invalid configuration example 1; duplicated udp
  - name: remote_udp0
    type: remote
    udp_ports: [514]
  - name: remote_udp1
    type: remote
    udp_ports: [1514]
</code></pre>

<pre><code class="language-yaml">  # Invalid configuration example 2; duplicated tcp
  - name: remote_implicit_tcp
    type: remote
  - name: remote_tcp
    type: remote
    tcp_ports: [1514]
</code></pre>

<h3 id="logging_outputs-options">Logging_outputs options</h3>

<p><code>logging_outputs</code>: A list of following dictionary to configure outputs.</p>

<h4 id="common-keys-1">common keys</h4>

<ul>
  <li><code>name</code>: Unique name of the output. Used in the <code>logging_flows</code> outputs list and a part of the generated config filename.</li>
  <li><code>type</code>: Type of the output element. Currently, <code>elasticsearch</code>, <code>files</code>, <code>forwards</code>, and <code>remote_files</code> are supported. The <code>type</code> is used to specify a task type which corresponds to a directory name in roles/rsyslog/{tasks,vars}/outputs/.</li>
  <li><code>state</code>: State of the configuration file. <code>present</code> or <code>absent</code>. Default to <code>present</code>.</li>
</ul>

<h4 id="elasticsearch-type">elasticsearch type</h4>

<p><code>elasticsearch</code> output supports sending logs to Elasticsearch. It is available only when the input is <code>ovirt</code>. Assuming Elasticsearch is already configured and running.</p>

<p>Available options:</p>
<ul>
  <li><code>server_host</code>: Host name Elasticsearch is running on. The value is a single host or list of hosts. <strong>Required</strong>.</li>
  <li><code>server_port</code>: Port number Elasticsearch is listening to. Default to <code>9200</code>.</li>
  <li><code>index_prefix</code>: Elasticsearch index prefix the particular log will be indexed to. <strong>Required</strong>.</li>
  <li><code>input_type</code>: Specifying the input type. Currently only type <code>ovirt</code> is supported. Default to <code>ovirt</code>.</li>
  <li><code>retryfailures</code>: Specifying whether retries or not in case of failure. Allowed value is <code>true</code> or <code>false</code>. Default to <code>true</code>.</li>
  <li><code>tls</code>: If true, encrypt the connection with TLS. You must provide key/certificates and triplets {<code>ca_cert</code>, <code>cert</code>, <code>private_key</code>} and/or {<code>ca_cert_src</code>, <code>cert_src</code>, <code>private_key_src</code>}. Default to <code>true</code>.</li>
  <li><code>use_cert</code>: [DEPRECATED] If true, encrypt the connection with TLS. You must provide key/certificates and triplets {<code>ca_cert</code>, <code>cert</code>, <code>private_key</code>} and/or {<code>ca_cert_src</code>, <code>cert_src</code>, <code>private_key_src</code>}. Default to <code>true</code>. Option <code>use_cert</code> is deprecated in favor of <code>tls</code> and <code>use_cert</code> will be removed in the next minor release.</li>
  <li><code>ca_cert</code>: Path to CA cert for Elasticsearch. Default to <code>/etc/pki/tls/certs/basename of ca_cert_src</code>.</li>
  <li><code>cert</code>: Path to cert to connect to Elasticsearch. Default to <code>/etc/pki/tls/certs/basename of cert_src</code>.</li>
  <li><code>private_key</code>: Path to key to connect to Elasticsearch. Default to <code>/etc/pki/tls/private/basename of private_key_src</code>.</li>
  <li><code>ca_cert_src</code>: Local CA cert file path which is copied to the target host. If <code>ca_cert</code> is specified, it is copied to the location. Otherwise, to logging_config_dir.</li>
  <li><code>cert_src</code>: Local cert file path which is copied to the target host. If <code>cert</code> is specified, it is copied to the location. Otherwise, to logging_config_dir.</li>
  <li><code>private_key_src</code>: Local key file path which is copied to the target host. If <code>private_key</code> is specified, it is copied to the location. Otherwise, to logging_config_dir.</li>
  <li><code>uid</code>: If basic HTTP authentication is deployed, the user name is specified with this key.</li>
</ul>

<p>logging_elasticsearch_password: If basic HTTP authentication is deployed, the password is specified with this global variable. Please be careful that this <code>logging_elasticsearch_password</code> is a global variable to be placed at the same level as <code>logging_output</code>, <code>logging_input</code>, and <code>logging_flows</code> are. Another things to be aware of are this <code>logging_elasticsearch_password</code> is shared among all the elasticsearch outputs. That is, the elasticsearch servers should share one password if there are multiple of servers. Plus, the uid and password are configured if both of them are found in the playbook. For instance, if there are multiple elasticsearch outputs and one of them is missing the <code>uid</code> key, then the configured output does not have the uid and password.</p>

<h4 id="files-type-1">files type</h4>

<p><code>files</code> output supports storing logs in the local files usually in /var/log.</p>

<p>Available options:</p>
<ul>
  <li><code>facility</code>: Facility in selector; default to <code>*</code>.</li>
  <li><code>severity</code>: Severity in selector; default to <code>*</code>.</li>
  <li><code>exclude</code>: Exclude list used in selector; default to none.</li>
  <li><code>property</code>: Property in property-based filter; no default</li>
  <li><code>property_op</code>: Operation in property-based filter; In case of not <code>!</code>, put the <code>property_op</code> value in quotes; default to <code>contains</code></li>
  <li><code>property_value</code>: Value in property-based filter; default to <code>error</code></li>
  <li><code>path</code>: Path to the output file.</li>
</ul>

<p>logging_files_template_format: Set default template for the files output.<br />
Allowed values are <code>traditional</code>, <code>syslog</code>, and <code>modern</code>. Default to <code>modern</code>.</p>

<p><strong>Note:</strong> Selector options and property-based filter options are exclusive. If Property-based filter options are defined, selector options will be ignored.</p>

<p><strong>Note:</strong> Unless the above options are given, these local file outputs are configured.</p>

<pre><code>  kern.*                                      /dev/console
  *.info;mail.none;authpriv.none;cron.none    /var/log/messages
  authpriv.*                                  /var/log/secure
  mail.*                                      -/var/log/maillog
  cron.*                                      -/var/log/cron
  *.emerg                                     :omusrmsg:*
  uucp,news.crit                              /var/log/spooler
  local7.*
</code></pre>

<h4 id="forwards-type">forwards type</h4>

<p><code>forwards</code> output sends logs to the remote logging system over the network.</p>

<p>Available options:</p>
<ul>
  <li><code>facility</code>: Facility in selector; default to <code>*</code>.</li>
  <li><code>severity</code>: Severity in selector; default to <code>*</code>.</li>
  <li><code>exclude</code>: Exclude list used in selector; default to none.</li>
  <li><code>property</code>: Property in property-based filter; no default</li>
  <li><code>property_op</code>: Operation in property-based filter; In case of not <code>!</code>, put the <code>property_op</code> value in quotes; default to <code>contains</code></li>
  <li><code>property_value</code>: Value in property-based filter; default to <code>error</code></li>
  <li><code>target</code>: Target host (fqdn). <strong>Required</strong>.</li>
  <li><code>udp_port</code>: UDP port number. Default to <code>514</code>.</li>
  <li><code>tcp_port</code>: TCP port number. Default to <code>514</code>.</li>
  <li><code>tls</code>: Set to <code>true</code> to encrypt the connection using the default TLS implementation used by the provider. Default to <code>false</code>.</li>
  <li><code>pki_authmode</code>: Specifying the default network driver authentication mode. <code>x509/name</code>, <code>x509/fingerprint</code>, or <code>anon</code> is accepted. Default to <code>x509/name</code>.</li>
  <li><code>permitted_server</code>: Hostname, IP address, fingerprint(sha1) or wildcard DNS domain of the server which this client will be allowed to connect and send logs over TLS. Default to <code>*.{{ logging_domain }}</code></li>
  <li><code>template</code>: Template format for the particular forwards output. Allowed values are <code>traditional</code>, <code>syslog</code>, and <code>modern</code>. Default to <code>modern</code>.</li>
</ul>

<p>logging_forwards_template_format: Set default template for the forwards output.<br />
Allowed values are <code>traditional</code>, <code>syslog</code>, and <code>modern</code>. Default to <code>modern</code>.</p>

<p><strong>Note:</strong> Selector options and property-based filter options are exclusive. If Property-based filter options are defined, selector options will be ignored.</p>

<h4 id="relp-type-1">relp type</h4>

<p><code>relp</code> output sends logs to the remote logging system over the network using relp.</p>

<p>Available options:</p>
<ul>
  <li><code>target</code>: Host name the remote logging system is running on. <strong>Required</strong>.</li>
  <li><code>port</code>: Port number the remote logging system is listening to. Default to <code>20514</code>.</li>
  <li><code>tls</code>: If true, encrypt the connection with TLS. You must provide key/certificates and triplets {<code>ca_cert</code>, <code>cert</code>, <code>private_key</code>} and/or {<code>ca_cert_src</code>, <code>cert_src</code>, <code>private_key_src</code>}. Default to <code>true</code>.</li>
  <li><code>ca_cert</code>: Path to CA cert to configure Relp with tls. Default to <code>/etc/pki/tls/certs/basename of ca_cert_src</code>.</li>
  <li><code>cert</code>: Path to cert to configure Relp with tls. Default to <code>/etc/pki/tls/certs/basename of cert_src</code>.</li>
  <li><code>private_key</code>: Path to key to configure Relp with tls. Default to <code>/etc/pki/tls/private/basename of private_key_src</code>.</li>
  <li><code>ca_cert_src</code>: Local CA cert file path which is copied to the target host. If <code>ca_cert</code> is specified, it is copied to the location. Otherwise, to logging_config_dir.</li>
  <li><code>cert_src</code>: Local cert file path which is copied to the target host. If <code>cert</code> is specified, it is copied to the location. Otherwise, to logging_config_dir.</li>
  <li><code>private_key_src</code>: Local key file path which is copied to the target host. If <code>private_key</code> is specified, it is copied to the location. Otherwise, to logging_config_dir.</li>
  <li><code>pki_authmode</code>: Specifying the authentication mode. <code>name</code> or <code>fingerprint</code> is accepted. Default to <code>name</code>.</li>
  <li><code>permitted_servers</code>: List of hostnames, IP addresses, fingerprints(sha1), and wildcard DNS domains which will be allowed by the <code>logging</code> client to connect and send logs over TLS. Default to <code>['*.{{ logging_domain }}']</code></li>
</ul>

<h4 id="remote_files-type">remote_files type</h4>

<p><code>remote_files</code> output stores logs to the local files per remote host and program name originated the logs.</p>

<p>Available options:</p>
<ul>
  <li><code>facility</code>: Facility in selector; default to <code>*</code>.</li>
  <li><code>severity</code>: Severity in selector; default to <code>*</code>.</li>
  <li><code>exclude</code>: Exclude list used in selector; default to none.</li>
  <li><code>property</code>: Property in property-based filter; no default</li>
  <li><code>property_op</code>: Operation in property-based filter; In case of not <code>!</code>, put the <code>property_op</code> value in quotes; default to <code>contains</code></li>
  <li><code>property_value</code>: Value in property-based filter; default to <code>error</code></li>
  <li><code>async_writing</code>: If set to <code>true</code>, the files are written asynchronously. Allowed value is <code>true</code> or <code>false</code>. Default to <code>false</code>.</li>
  <li><code>client_count</code>: Count of client logging system supported this rsyslog server. Default to <code>10</code>.</li>
  <li><code>io_buffer_size</code>: Buffer size used to write output data. Default to <code>65536</code> bytes.</li>
  <li><code>remote_log_path</code>: Full path to store the filtered logs.<br />
                     This is an example to support the per host output log files<br />
                     <code>/path/to/output/dir/%FROMHOST%/%PROGRAMNAME:::secpath-replace%.log</code></li>
  <li><code>remote_sub_path</code>: Relative path to logging_system_log_dir to store the filtered logs.</li>
</ul>

<p><strong>Note:</strong> Selector options and property-based filter options are exclusive. If Property-based filter options are defined, selector options will be ignored.</p>

<p><strong>Note:</strong> If both <code>remote_log_path</code> and <code>remote_sub_path</code> are <em>not</em> specified, the remote_file output configured with the following settings.</p>

<pre><code>  template(
    name="RemoteMessage"
    type="string"
    string="/var/log/remote/msg/%FROMHOST%/%PROGRAMNAME:::secpath-replace%.log"
  )
  template(
    name="RemoteHostAuthLog"
    type="string"
    string="/var/log/remote/auth/%FROMHOST%/%PROGRAMNAME:::secpath-replace%.log"
  )
  template(
    name="RemoteHostCronLog"
    type="string"
    string="/var/log/remote/cron/%FROMHOST%/%PROGRAMNAME:::secpath-replace%.log"
  )
  template(
    name="RemoteHostMailLog"
    type="string"
    string="/var/log/remote/mail/%FROMHOST%/%PROGRAMNAME:::secpath-replace%.log"
  )
  ruleset(name="unique_remote_files_output_name") {
    authpriv.*   action(name="remote_authpriv_host_log" type="omfile" DynaFile="RemoteHostAuthLog")
    *.info;mail.none;authpriv.none;cron.none action(name="remote_message" type="omfile" DynaFile="RemoteMessage")
    cron.*       action(name="remote_cron_log" type="omfile" DynaFile="RemoteHostCronLog")
    mail.*       action(name="remote_mail_service_log" type="omfile" DynaFile="RemoteHostMailLog")
  }
</code></pre>

<h3 id="logging_flows-options">Logging_flows options</h3>

<ul>
  <li><code>name</code>: Unique name of the flow.</li>
  <li><code>inputs</code>: A list of inputs, from which processing log messages starts.</li>
  <li><code>outputs</code>: A list of outputs. to which the log messages are sent.</li>
</ul>

<h3 id="security-options">Security options</h3>

<p>These variables are set in the same level of the <code>logging_inputs</code>, <code>logging_output</code>, and <code>logging_flows</code>.</p>

<h4 id="logging_pki_files">logging_pki_files</h4>

<p>Specifying either of the paths of the ca_cert, cert, and key on the control host or<br />
the paths of theirs on the managed host or both of them.<br />
When TLS connection is configured, <code>ca_cert_src</code> and/or <code>ca_cert</code> is required.<br />
To configure the certificate of the logging system, <code>cert_src</code> and/or <code>cert</code> is required.<br />
To configure the private key of the logging system, <code>private_key_src</code> and/or <code>private_key</code> is required.</p>

<pre><code>  ca_cert_src:     location of the ca_cert on the control host; if given, the file is copied to the managed host.
  cert_src:        location of the cert on the control host; if given, the file is copied to the managed host.
  private_key_src: location of the key on the control host; if given, the file is copied to the managed host.
  ca_cert:     path to be deployed on the managed host; the path is also used in the rsyslog config.
               default to /etc/pki/tls/certs/&lt;ca_cert_src basename&gt;
  cert:        ditto
               default to /etc/pki/tls/certs/&lt;cert_src basename&gt;
  private_key: ditto
               default to /etc/pki/tls/private/&lt;private_key_src basename&gt;
</code></pre>

<h4 id="logging_domain">logging_domain</h4>

<p>The default DNS domain used to accept remote incoming logs from remote hosts. Default to “{{ ansible_domain if ansible_domain else ansible_hostname }}”</p>

<h3 id="server-performance-optimization-options">Server performance optimization options</h3>

<p>These variables are set in the same level of the <code>logging_inputs</code>, <code>logging_output</code>, and <code>logging_flows</code>.</p>

<ul>
  <li><code>logging_tcp_threads</code>: Input thread count listening on the plain tcp (ptcp) port. Default to <code>1</code>.</li>
  <li><code>logging_udp_threads</code>: Input thread count listening on the udp port. Default to <code>1</code>.</li>
  <li><code>logging_udp_system_time_requery</code>: Every <code>value</code> OS system calls, get the system time. Recommend not to set above 10. Default to <code>2</code> times.</li>
  <li><code>logging_udp_batch_size</code>: Maximum number of udp messages per OS system call. Recommend not to set above 128. Default to <code>32</code>.</li>
  <li><code>logging_server_queue_type</code>: Type of queue. <code>FixedArray</code> is available. Default to <code>LinkedList</code>.</li>
  <li><code>logging_server_queue_size</code>: Maximum number of messages in the queue. Default to <code>50000</code>.</li>
  <li><code>logging_server_threads</code>: Number of worker threads. Default to <code>logging_tcp_threads</code> + <code>logging_udp_threads</code>.</li>
</ul>

<h3 id="other-options">Other options</h3>

<p>These variables are set in the same level of the <code>logging_inputs</code>, <code>logging_output</code>, and <code>logging_flows</code>.</p>

<ul>
  <li><code>logging_enabled</code>: When ‘true’, logging role will deploy specified configuration file set. Default to ‘true’.</li>
  <li><code>logging_mark</code>: Mark message periodically by immark, if set to <code>true</code>. Default to <code>false</code>.</li>
  <li><code>logging_mark_interval</code>: Interval for <code>logging_mark</code> in seconds. Default to <code>3600</code>.</li>
  <li><code>logging_purge_confs</code>: <code>true</code> or <code>false</code>. If <code>logging_purge_confs</code> is set to<br />
<code>true</code>, remove files in rsyslog.d which do not belong to any rpm packages.<br />
That includes config files generated by the previous logging role run.   NOTE:<br />
If <code>/etc/rsyslog.conf</code> was modified, and you use <code>logging_purge_confs: true</code>,<br />
and you are not providing any <code>logging_inputs</code>, then the <code>rsyslog</code> package<br />
will be uninstalled and reinstalled in order to revert back to the original<br />
system default configuration.</li>
  <li><code>logging_system_log_dir</code>: Directory where the local log output files are placed. Default to <code>/var/log</code>.</li>
  <li><code>logging_manage_firewall</code>: If set to <code>true</code> and ports are found in the logging role<br />
parameters, configure the firewall for the ports using the firewall role.<br />
If set to <code>false</code>, the <code>logging role</code> does not manage the firewall.<br />
Default to <code>false</code>.<br />
NOTE: <code>logging_manage_firewall</code> is limited to <em>adding</em> ports.<br />
It cannot be used for <em>removing</em> ports.<br />
If you want to remove ports, you will need to use the firewall system<br />
role directly.</li>
  <li><code>logging_manage_selinux</code>: If set to <code>true</code> and ports are found in the logging role<br />
parameters, configure the SELinux for the ports using the <code>selinux</code> role.<br />
If set to <code>false</code>, the <code>logging</code> role does not manage SELinux.<br />
Default to <code>false</code>.<br />
NOTE: <code>logging_manage_selinux</code> is limited to <em>adding</em> policy.<br />
It cannot be used for <em>removing</em> policy.<br />
If you want to remove policy, you will need to use the <code>selinux</code> role directly.</li>
  <li>
    <p><code>logging_certificates</code>: Information used to generate a private key and certificate.<br />
Default to <code>[]</code>.<br />
The value of <code>logging_certificates</code> is passed on to the <code>certificate_requests</code><br />
in the <code>certificate</code> role and used to create the private key and certificate.<br />
For the supported parameters of <code>logging_certificates</code>,<br />
see the <a href="https://github.com/linux-system-roles/certificate/#certificate_requests"><code>certificate_requests</code> role documentation section</a>.<br />
Before running the <code>logging</code> role with <code>logging_certificates</code>, join the managed<br />
hosts to an IPA domain to make CA available to sign the certificate to be created.</p>

    <p>With this example, a private key <code>logging_cert.key</code> is generated in <code>/etc/pki/tls/private</code><br />
and a certificate <code>logging_cert.crt</code> is in <code>/etc/pki/tls/certs</code> signed by<br />
the CA certificate managed by <code>ipa</code>.</p>
    <pre><code class="language-yaml">  logging_certificates:
    - name: logging_cert
      dns: ['localhost', 'www.example.com']
      ca: ipa
</code></pre>
    <p>The created private key and certificate are set with the ca certificate, e.g.,<br />
in <code>logging_pki_files</code> as follows:</p>
    <pre><code class="language-yaml">logging_pki_files:
  - ca_cert: /etc/ipa/ca.crt
    cert: /etc/pki/tls/certs/logging_cert.crt
    private_key: /etc/pki/tls/private/logging_cert.key
</code></pre>
    <p>or in the <code>relp</code> parameters as follows:</p>
    <pre><code class="language-yaml"> logging_inputs:
   - name: relp_server
     type: relp
     tls: true
     ca_cert: /etc/ipa/ca.crt
     cert: /etc/pki/tls/certs/logging_cert.crt
     private_key: /etc/pki/tls/private/logging_cert.key
     [snip]
</code></pre>
    <p>NOTE: The <code>certificate</code> role, unless using IPA and joining the systems to an<br />
IPA domain, creates self-signed certificates, so you will need to explicitly<br />
configure trust, which is not currently supported by the system roles.</p>
  </li>
</ul>

<h3 id="update-and-delete">Update and Delete</h3>

<p>Due to the nature of ansible idempotency, if you run ansible-playbook multiple times without changing any variables and options, no changes are made from the second time. If some changes are made, only the rsyslog configuration files affected by the changes are recreated. To delete any existing rsyslog input or output config files generated by the previous ansible-playbook run, you need to add “state: absent” to the dictionary to be deleted (in this case, input_nameA and output_name0). And remove the flow dictionary related to the input and output as follows.</p>

<pre><code class="language-yaml">logging_inputs:
  - name: input_nameA
    type: input_typeA
    state: absent
  - name: input_nameB
    type: input_typeB
logging_outputs:
  - name: output_name0
    type: output_type0
    state: absent
  - name: output_name1
    type: output_type1
logging_flows:
  - name: flow_nameY
    inputs: [input_nameB]
    outputs: [output_name1]
</code></pre>

<p>If you want to remove all the configuration files previously configured, in addition to setting <code>state: absent</code> to each logging_inputs and logging_outputs item, add <code>logging_enabled: false</code> to the configuration variables as follows. It will eliminate the global and common configuration files, as well.  Or, use <code>logging_purge_confs: true</code> to wipe out all previous configuration and replace it with your given configuration.</p>

<pre><code class="language-yaml">logging_enabled: false
logging_inputs:
  - name: input_nameA
    type: input_typeA
    state: absent
  - name: input_nameB
    type: input_typeB
    state: absent
logging_outputs:
  - name: output_name0
    type: output_type0
    state: absent
  - name: output_name1
    type: output_type1
    state: absent
logging_flows:
  - name: flow_nameY
    inputs: [input_nameB]
    outputs: [output_name1]
</code></pre>

<h2 id="configuration-examples">Configuration Examples</h2>

<h3 id="standalone-configuration">Standalone configuration</h3>

<p>Deploying <code>basics input</code> reading logs from systemd journal and implicit <code>files output</code> to write to the local files.</p>

<pre><code class="language-yaml">---
- name: Deploying basics input and implicit files output
  hosts: all
  roles:
    - rhel-system-roles.logging
  vars:
    logging_inputs:
      - name: system_input
        type: basics
</code></pre>

<p>The following playbook generates the same logging configuration files.</p>

<pre><code class="language-yaml">---
- name: Deploying basics input and files output
  hosts: all
  roles:
    - rhel-system-roles.logging
  vars:
    logging_inputs:
      - name: system_input
        type: basics
    logging_outputs:
      - name: files_output
        type: files
    logging_flows:
      - name: flow0
        inputs: [system_input]
        outputs: [files_output]
</code></pre>

<p>Deploying <code>basics input</code> reading logs from systemd unix socket and <code>files output</code> to write to the local files.</p>

<pre><code class="language-yaml">---
- name: Deploying basics input using systemd unix socket and files output
  hosts: all
  roles:
    - rhel-system-roles.logging
  vars:
    logging_inputs:
      - name: system_input
        type: basics
        use_imuxsock: true
    logging_outputs:
      - name: files_output
        type: files
    logging_flows:
      - name: flow0
        inputs: [system_input]
        outputs: [files_output]
</code></pre>

<p>Deploying <code>basics input</code> reading logs from systemd journal and <code>files output</code> to write to the individually configured local files.</p>

<pre><code class="language-yaml">---
- name: Deploying basic input and configured files output
  hosts: all
  roles:
    - rhel-system-roles.logging
  vars:
    logging_inputs:
      - name: system_input
        type: basics
    logging_outputs:
      - name: files_output0
        type: files
        severity: info
        exclude:
          - authpriv.none
          - auth.none
          - cron.none
          - mail.none
        path: /var/log/messages
      - name: files_output1
        type: files
        facility: authpriv,auth
        path: /var/log/secure
    logging_flows:
      - name: flow0
        inputs: [system_input]
        outputs: [files_output0, files_output1]
</code></pre>

<p>Deploying <code>files input</code> reading logs from local files and <code>files output</code> to write to the individually configured local files.</p>

<pre><code class="language-yaml">---
- name: Deploying files input and configured files output
  hosts: all
  roles:
    - rhel-system-roles.logging
  vars:
    logging_inputs:
      - name: files_input0
        type: files
        input_log_path: /var/log/containerA/*.log
      - name: files_input1
        type: files
        input_log_path: /var/log/containerB/*.log
    logging_outputs:
      - name: files_output0
        type: files
        severity: info
        exclude:
          - authpriv.none
          - auth.none
          - cron.none
          - mail.none
        path: /var/log/messages
      - name: files_output1
        type: files
        facility: authpriv,auth
        path: /var/log/secure
    logging_flows:
      - name: flow0
        inputs: [files_input0, files_input1]
        outputs: [files_output0, files_output1]
</code></pre>

<p>Deploying <code>files input</code> reading logs from local files and <code>files output</code> to write to the local files based on the property-based filters.</p>

<pre><code class="language-yaml">---
- name: Deploying files input and configured files output
  hosts: all
  roles:
    - rhel-system-roles.logging
  vars:
    logging_inputs:
      - name: files_input0
        type: files
        input_log_path: /var/log/containerA/*.log
      - name: files_input1
        type: files
        input_log_path: /var/log/containerB/*.log
    logging_outputs:
      - name: files_output0
        type: files
        property: msg
        property_op: contains
        property_value: error
        path: /var/log/errors.log
      - name: files_output1
        type: files
        property: msg
        property_op: "!contains"
        property_value: error
        path: /var/log/others.log
    logging_flows:
      - name: flow0
        inputs: [files_input0, files_input1]
        outputs: [files_output0, files_output1]
</code></pre>

<h3 id="client-configuration">Client configuration</h3>

<p>Deploying <code>basics input</code> reading logs from systemd journal and <code>forwards output</code> to forward the logs to the remote rsyslog.</p>

<pre><code class="language-yaml">---
- name: Deploying basics input and forwards output
  hosts: clients
  roles:
    - rhel-system-roles.logging
  vars:
    logging_inputs:
      - name: basic_input
        type: basics
    logging_outputs:
      - name: forward_output0
        type: forwards
        severity: info
        target: your_target_hostname
        udp_port: 514
      - name: forward_output1
        type: forwards
        facility: mail
        target: your_target_hostname
        tcp_port: 514
    logging_flows:
      - name: flows0
        inputs: [basic_input]
        outputs: [forward_output0, forward_output1]
</code></pre>

<p>Deploying <code>files input</code> reading logs from a local file and <code>forwards output</code> to forward the logs to the remote rsyslog over tls. Assuming the ca_cert, cert and key files are prepared at the specified paths on the control host. The files are deployed to the default location <code>/etc/pki/tls/certs/</code>, <code>/etc/pki/tls/certs/</code>, and <code>/etc/pki/tls/private</code>, respectively.</p>

<pre><code class="language-yaml">---
- name: Deploying files input and forwards output with certs
  hosts: clients
  roles:
    - rhel-system-roles.logging
  vars:
    logging_pki_files:
      - ca_cert_src: /local/path/to/ca_cert
        cert_src: /local/path/to/cert
        private_key_src: /local/path/to/key
    logging_inputs:
      - name: files_input
        type: files
        input_log_path: /var/log/containers/*.log
    logging_outputs:
      - name: forwards_output
        type: forwards
        target: your_target_host
        tcp_port: your_target_port
        pki_authmode: x509/name
        permitted_server: '*.example.com'
    logging_flows:
      - name: flows0
        inputs: [basic_input]
        outputs: [forwards-severity_and_facility]
</code></pre>

<h3 id="server-configuration">Server configuration</h3>

<p>Deploying <code>remote input</code> reading logs from remote rsyslog and <code>remote_files output</code> to write the logs to the local files under the directory named by the remote host name.</p>

<pre><code class="language-yaml">---
- name: Deploying remote input and remote_files output
  hosts: server
  roles:
    - rhel-system-roles.logging
  vars:
    logging_inputs:
      - name: remote_udp_input
        type: remote
        udp_ports: [514, 1514]
      - name: remote_tcp_input
        type: remote
        tcp_ports: [514, 1514]
    logging_outputs:
      - name: remote_files_output
        type: remote_files
    logging_flows:
      - name: flow_0
        inputs: [remote_udp_input, remote_tcp_input]
        outputs: [remote_files_output]
</code></pre>

<p>Deploying <code>remote input</code> reading logs from remote rsyslog and <code>remote_files output</code> to write the logs to the configured local files with the tls setup supporting 20 clients. Assuming the ca_cert, cert and key files are prepared at the specified paths on the control host. The files are deployed to the default location <code>/etc/pki/tls/certs/</code>, <code>/etc/pki/tls/certs/</code>, and <code>/etc/pki/tls/private</code>, respectively.</p>

<pre><code class="language-yaml">---
- name: Deploying remote input and remote_files output with certs
  hosts: server
  roles:
    - rhel-system-roles.logging
  vars:
    logging_pki_files:
      - ca_cert_src: /local/path/to/ca_cert
        cert_src: /local/path/to/cert
        private_key_src: /local/path/to/key
    logging_inputs:
      - name: remote_tcp_input
        type: remote
        tcp_ports: [6514, 7514]
        permitted_clients: ['*.example.com', '*.test.com']
    logging_outputs:
      - name: remote_files_output0
        type: remote_files
        remote_log_path: /var/log/remote/%FROMHOST%/%PROGRAMNAME:::secpath-replace%.log
        async_writing: true
        client_count: 20
        io_buffer_size: 8192
      - name: remote_files_output1
        type: remote_files
        remote_sub_path: others/%FROMHOST%/%PROGRAMNAME:::secpath-replace%.log
    logging_flows:
      - name: flow_0
        inputs: [remote_udp_input, remote_tcp_input]
        outputs: [remote_files_output0, remote_files_output1]
</code></pre>

<h3 id="client-configuration-with-relp">Client configuration with Relp</h3>

<p>Deploying <code>basics input</code> reading logs from systemd journal and <code>relp output</code> to send the logs to the remote rsyslog over relp.</p>

<pre><code class="language-yaml">---
- name: Deploying basics input and relp output
  hosts: clients
  roles:
    - rhel-system-roles.logging
  vars:
    logging_inputs:
      - name: basic_input
        type: basics
    logging_outputs:
      - name: relp_client
        type: relp
        target: logging.server.com
        port: 20514
        tls: true
        ca_cert_src: /path/to/ca.pem
        cert_src: /path/to/client-cert.pem
        private_key_src: /path/to/client-key.pem
        pki_authmode: name
        permitted_servers:
          - '*.server.com'
    logging_flows:
      - name: flow
        inputs: [basic_input]
        outputs: [relp_client]
</code></pre>

<h3 id="server-configuration-with-relp">Server configuration with Relp</h3>

<p>Deploying <code>relp input</code> reading logs from remote rsyslog and <code>remote_files output</code> to write the logs to the local files under the directory named by the remote host name.</p>

<pre><code class="language-yaml">---
- name: Deploying remote input and remote_files output
  hosts: server
  roles:
    - rhel-system-roles.logging
  vars:
    logging_inputs:
      - name: relp_server
        type: relp
        port: 20514
        tls: true
        ca_cert_src: /path/to/ca.pem
        cert_src: /path/to/server-cert.pem
        private_key_src: /path/to/server-key.pem
        pki_authmode: name
        permitted_clients:
          - '*.client.com'
          - '*.example.com'
    logging_outputs:
      - name: remote_files_output
        type: remote_files
    logging_flows:
      - name: flow
        inputs: [relp_server]
        outputs: [remote_files_output]
</code></pre>

<h3 id="port-managed-by-firewall-and-selinux-role">Port Managed by Firewall and SELinux Role</h3>

<p>When a port is specified in the logging role configuration,<br />
the firewall role is automatically included and the port<br />
is managed by the firewalld.</p>

<p>The port is then configured by the <code>selinux</code> role and given<br />
an appropriate syslog SELinux port type depending upon the<br />
associated TLS value.</p>

<p>You can verify the changes by the following command-line.</p>

<p>For firewall,</p>
<pre><code>firewall-cmd --list-port
</code></pre>

<p>For SELinux,</p>
<pre><code>semanage port --list | grep "syslog"
</code></pre>
<p>The newly specified port will be added to this default set.</p>
<pre><code>syslog_tls_port_t     tcp   6514, 10514
syslog_tls_port_t     udp   6514, 10514
syslogd_port_t        tcp   601, 20514
syslogd_port_t        udp   514, 601, 20514
</code></pre>

<h2 id="providers">Providers</h2>

<ul>
  <li>Rsyslog</li>
</ul>

<h2 id="tests">Tests</h2>

<p>tests/README.md - This documentation shows how to execute CI tests in the tests directory as well as how to debug when the test fails.</p>
